# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Migrations (optional: ignore if you want clean migrations in repo)
*/migrations/*
!*/migrations/__init__.py

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
*.secret

/generated/prisma
