flask
pandas
numpy
sqlalchemy
psycopg2-binary
scikit-learn
python-dotenv
xgboost
holidays
statsmodels
fastapi
uvicorn[standard]
pandas
numpy
sqlalchemy
psycopg2-binary
scikit-learn
xgboost
holidays
statsmodels